*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  /* Coolors Exported Palette - https://coolors.co/f2c3a3-63cead-e2f5ef-333333-000000 */
  --apricot: hsla(24, 75%, 79%, 1);
  --turquoise: hsla(161, 52%, 60%, 1);
  --azure-web: hsla(161, 49%, 92%, 1);
  --jet: hsla(0, 0%, 20%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --gradient-top: linear-gradient(0deg, #f2c3a3ff, #63ceadff, #e2f5efff, #333333ff, #000000ff);
  --gradient-right: linear-gradient(90deg, #f2c3a3ff, #63ceadff, #e2f5efff, #333333ff, #000000ff);
  --gradient-bottom: linear-gradient(180deg, #f2c3a3ff, #63ceadff, #e2f5efff, #333333ff, #000000ff);
  --gradient-left: linear-gradient(270deg, #f2c3a3ff, #63ceadff, #e2f5efff, #333333ff, #000000ff);
  --gradient-top-right: linear-gradient(45deg, #f2c3a3ff, #63ceadff, #e2f5efff, #333333ff, #000000ff);
  --gradient-bottom-right: linear-gradient(135deg, #f2c3a3ff, #63ceadff, #e2f5efff, #333333ff, #000000ff);
  --gradient-top-left: linear-gradient(225deg, #f2c3a3ff, #63ceadff, #e2f5efff, #333333ff, #000000ff);
  --gradient-bottom-left: linear-gradient(315deg, #f2c3a3ff, #63ceadff, #e2f5efff, #333333ff, #000000ff);
  --gradient-radial: radial-gradient(#f2c3a3ff, #63ceadff, #e2f5efff, #333333ff, #000000ff);
}
header {
  /*width: calc(100% - 1rem);*/
  width: 100%;
  position: fixed;
  padding: 0.3rem;
  z-index: 1;
  background-color: #282c34;
}
.header-logo {
  height: 75px;
  width: auto;
}
h4 {
  color: var(--azure-web);
  font-size: 1rem !important;
}
body {
  margin: 0;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--apricot);
}
nav {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
color: var(--apricot);
}
.logo {
  height: 25vmax;
  width: 25vmax;
}
.main {
  padding-top: 6rem;
}
.form-button {
  border-color: white;
  background-color: var(--turquoise);
  border-radius: 10px;
  border-width: .2rem;
  border-style: solid;
  width: 7rem;
  color: var(--black);
  padding: .5rem;
  font-size: 1rem;
  box-shadow: none;
  font-weight: bold;
}
.form-button:hover {
  background-color: white;
  border-color: var(--apricot);
  cursor: pointer;
}
.form-button:active {
  background-color: var(--apricot);
  color: var(--jet);
}
.form-button:focus {
  outline: none;
}
button {
  border-color: var(--turquoise);
  background-color: var(--black);
  border-radius: 10px;
  border-width: .2rem;
  width: 7rem;
  color: var(--apricot);
  padding: .5rem;
  font-size: 1rem;
  box-shadow: black 0 7px 5px;
}
button:hover {
  background-color: var(--azure-web);
  color: var(--jet);
  cursor: pointer;
}
button:active {
  background-color: var(--turquoise);
  color: var(--jet);
}
button:focus {
  outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.disableResize {
  resize: none;
}
.half-rem-line-height {
  line-height: .5rem;
}
.centered-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.padded-container {
  padding: 1rem;
}
.padding-top {
  padding-top: .5rem;
}
.padding-left {
  padding-left: .5rem;
}
.padding-right {
  padding-right: .5rem;
}
.gapped-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.gapped-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border-width: .3rem;
  border-color: var(--apricot);
  border-style: solid;
}
.form-input {
  width: 100%;
  border-radius: 10px;
  border-width: .3rem;
  min-height: 1.2rem;
  border-color: var(--apricot);
  border-style: solid;
  background-color: var(--apricot);
  padding: .5rem;
  font-size: 1rem;
}
.react-select__control {
  width: 100% !important;
  border: .3rem solid var(--apricot) !important;
  min-height: 1.2rem !important;
  font-size: 1rem !important;
  background-color: var(--apricot) !important;
  border-radius: 10px !important;
  border-color: var(--apricot) !important;
  border-style: solid !important;
  padding: .5rem !important;
}
.react-select__indicator {
  color: var(--black) !important;
}
.react-select__indicator-separator {
  background-color: var(--black) !important;
}
.react-select__indicator:hover {
  color: var(--azure-web) !important;
}
.react-select__control--is-focused {
  border-color: var(--apricot) !important;
  box-shadow: none !important;
  background-color: var(--apricot) !important;
}
.react-select__value-container,
.react-select__single-value {
  color: var(--black) !important;
  background-color: var(--apricot) !important;
  border: .3rem solid var(--apricot) !important;
  font-size: 1rem !important;
  min-height: 1.2rem !important;
  border-radius: 10px !important;
}
.react-select__option {
  color: var(--black) !important;
  background-color: var(--apricot) !important;
}
.react-select__menu {
  border-radius: 10px !important;
  padding: .5rem !important;
  background-color: var(--apricot) !important;
}
.react-select__option--is-selected,
.react-select__option:hover {
  border-radius: 10px !important;
  color: var(--black);
  background-color: var(--azure-web) !important;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border-width: .3rem;
    border-color: var(--apricot);
    border-style: solid;
}
.form-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  color: white;
}
.captcha-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.full-width {
  width: 100%;
}
.form-input:focus {
  outline: none;
  background-color: var(--jet);
  color: white;
}
.pegged-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.pegged-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pegged-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.message-box {
  height: 10rem;
  font-size: 1rem;
}
.main-image-grid {
  display: flex;
  flex-direction: column;
}
.headshot-image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /*gap: .5em;*/
}
.image-row {
  display: flex;
  flex-direction: row;
}
.media-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.media-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media-image {
  width: 100%;
  height: auto;
}
.media-info {
  padding: 10px;
}
.media-title {
  margin-bottom: 10px;
}
.media-button {
  margin: 5px;
}
.media-video {
  width: 100%;
  height: auto;
}
.link-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.link-item {
  text-align: center;
  margin: 1em 0;
}
.preview-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 1rem;
}
@media (min-width: 768px) {
  .form-row {
    flex-direction: row;
  }
  .logo {
    height: 15vmax;
    width: 15vmax;
  }
}
@media (min-width: 1650px) {
  .main-image-grid {
    flex-direction: row;
    padding: 1rem;
  }
  .preview-image {
    max-width: 540px;
  }
}